body {
    margin: 0;
}

ul {
    margin: auto;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
    font-family: Zapf Chancery, cursive; 
    list-style-type: none;
}

li a {
    padding: 16px 32px;
    display: block;
    color: #000;
    text-decoration: none;
}

li a.active {
    background-color: #af2865;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}