body{	background: rgb(240,240,240);
			font-family:Arial;
		}
h1{
		text-transform: uppercase;
		text-align: center;
	}
.picture {
    text-align: center;
   	}
img {
    border: 1px solid rgb(149,149,149);
    border-radius: 1px;
		}
.block {
    width: 600px; 
    padding-left: 5px; 
    margin: auto; 
    border-bottom: 1px solid rgb(149,149,149);
   	}
.content {
   	font-weight: normal;
   	font-size: 90%;
   	padding-left: 25px; 
   	}
a {
   	font-style: italic;
   	padding-left: 25px; 
  	}
.block_end {
    width: 600px; 
    padding-left: 5px; 
    margin: auto; 
 	  }