body {
	background-color: #0b0b0b;
    color: white;
	font-family: "Tahoma";
}

.mainblock {
    margin: auto;
    width: 950px;
}

.logo {
    margin: 50px 0 5px 70px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.contact {
    margin: 150px 85px 5px 0;
    display: inline-block;
    float: right;
    font-size: 12px;
}

.contact a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.catalog {
    margin: auto;
    width: 840px;
}

.catalog li {
    margin: 5px 10px 40px 0;
    width: 265px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.catalog img {
    margin-bottom: 5px;
    display: block;
    border: 4px ridge rgb(149,149,149);
    border-radius: 2px;
    font-size: 18px;
}

.footer {
    margin-top: 170px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
}